<div class="jumbotron jumbotron-fluid animated slideInRight">
    <div class="container">
        <h1 class="display-3">{{ title }}</h1>
        <div class="w-100 my-5 float-left" style="background-color:black;">
            <img src="https://firebasestorage.googleapis.com/v0/b/prueba-e92ee.appspot.com/o/electron.png?alt=media&token=32b43d9e-19f1-4f94-9b07-f360040434c8" class="w-50 h-50" />
            <img src="https://firebasestorage.googleapis.com/v0/b/prueba-e92ee.appspot.com/o/angular.png?alt=media&token=0f6ba8ae-7902-47ac-bedf-31dce3da1c95" class="w-50 h-50">
        </div>
        <p class="lead">{{ content }}</p>
        <button class="mt-5 btn btn-lg btn-block btn-danger" [routerLink]="['/login']">Iniciar sesión</button>
    </div>
</div>