<div class="animated lightSpeedIn">
    <h3>Nuevo usuario</h3>
    <form class="w-100" [formGroup]="newUser">
        <mat-form-field class="w-75 form-group">
            <input matInput placeholder="Nombre del usuario" formControlName="username">
            <mat-error *ngIf="username.hasError('required')">Este campo es <b>requerido</b></mat-error>
        </mat-form-field>
        <mat-form-field class="w-75 form-group">
            <input matInput placeholder="Contraseña" formControlName="password">
            <mat-error *ngIf="password.hasError('required')">Este campo es <b>requerido</b></mat-error>
        </mat-form-field><br/>
        <mat-radio-group class="form-group" formControlName="type">
            <mat-radio-button value="A">Administrador</mat-radio-button>
            <mat-radio-button value="U" class="ml-3">Usuario</mat-radio-button>
            <mat-error *ngIf="type.hasError('required')">Este campo es <b>requerido</b></mat-error>
        </mat-radio-group>
        <div class="form-group mt-4"><button color="primary" mat-raised-button (click)="onSubmit()" [disabled]="newUser.invalid">
      <span *ngIf="loading"><i class="fas fa-sync fa-spin infinite"></i> Añadiendo</span>
      <span *ngIf="!loading">Añadir usuario</span>
    </button></div>
    </form>
</div>